<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="TeenusSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/IDU0075/H3Y2/Teenus.asmx"
                binding="basicHttpBinding" bindingConfiguration="TeenusSoap"
                contract="OISTeenus.TeenusSoap" name="TeenusSoap" />
        </client>
    </system.serviceModel>
</configuration>